.wrapper {
  min-height: 100vh;
  width: 100%;
  background: rgb(181, 224, 141);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start_btn {
  width: 185px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: seashell;
}

.start_btn:hover {
  background-color: rgb(255, 216, 188);
  transition: 0.3s all ease;
}

.kit_img,
.pig_img {
  width: 100px;
}

.game_info {
  font-size: 30px;
  margin-top: 25px;
}
